@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--chakra-colors-neutral-100);
  color: var(--chakra-colors-neutral-900);
  font-family: var(--font-nunito-sans), system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito-sans), system-ui, sans-serif;
}
